<h3>Sign up</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
  html: {multipart: true}) do |f| %>

  <div class="wrapper">
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off",
        class: "form-control"%>
    </div>

    <div class="field">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </div>
  </div>

  <div class="actions wrapper">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
    <%= render "devise/shared/links" %>
  </div>

<% end %>
